body {
  font-family: Verdana;
  background-color: #B7B1F2;
  color: #FFF;
}
div {
  background-color: #FDB7EA;
  color: #FBF3B9;
  border-radius: 5px;
}
.output {
  background-color: #000;
  color: #FFF;
  font-family: Courier;
}
